
package layouts

import "northstar/internal/features/common/components"

templ AppShell(title string) {
	@Base(title) {
		// Header sits at the top
		@components.Header()
		// Hidden checkbox for mobile drawer toggle
		<input id="my-drawer-2" type="checkbox"/>
		// Drawer overlay for mobile
		<div class="drawer-overlay"></div>
		// The Navigation component acts as the sidebar
		@components.Navigation(components.PageIndex)
		// Main content area
		<main>
			{ children... }
		</main>
	}
}
