package pages

import (
	"northstar/internal/features/admin/components"
	"northstar/internal/features/common/layouts"
)

templ AdminPage() {
	@layouts.AppShell("Admin") {
		<div class="container">
			@components.AdminBreadcrumb()
			@components.AdminTabs()
		</div>
	}
}
