package components

type page int

const (
	PageIndex page = iota
	PageCounter
	PageMonitor
	PageReverse
	PageSortable
)

templ Navigation(page page) {
	<aside>
		<header>
			<h2>Navigation</h2>
		</header>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				// <li>
				// 	<a href="/explorer">Explorer</a>
				// </li>
				// <li>
				// 	<a href="/editor">Editor</a>
				// </li>
				<li>
					<a href="/admin">Admin</a>
				</li>
			</ul>
		</nav>
	</aside>
}
