package components

type ToastType string

const (
	ToastInfo    ToastType = "alert-info"
	ToastSuccess ToastType = "alert-success"
	ToastWarning ToastType = "alert-warning"
	ToastError   ToastType = "alert-error"
)

templ Toast(message string, toastType ToastType) {
	<div
		class={ string(toastType) }
		data-init__delay.3000ms="el.style.opacity = '0'; setTimeout(() => el.remove(), 300)"
	>
		<span>{ message }</span>
	</div>
}
