package pages

import "northstar/internal/features/common/layouts"
import "northstar/internal/features/explorer/components"

type ExplorerPageData struct {
	SidebarSchemas []components.SchemaView
	MainContent    components.MainContentData
}

templ ExplorerPage(data ExplorerPageData) {
	@layouts.AppShell("Unity Explorer - test") {
		<div id="table-explorer-component">
			@components.Sidebar(data.SidebarSchemas)
			@components.MainContent(data.MainContent)
		</div>
	}
}
